:root{
    --primary: #6f4e37e2;
    --main: #f5dfc2;
    --light: #f5deb3;
    --dark: #3D2314;
    --darker: #1b1001;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url('/images/background.png');
    background-size: 100% 100%; 
    height: 100vh; 
    background-position: right center;
    padding: 40px 200px;
    overflow: hidden
}
header img {
    width: 150px;
    height: auto;
    float: left;
    top: 0;
}
.nav{
    list-style-type: none;
    float: right;
    position: relative;
    margin-top: 25px;

}
.nav-item{
    margin-left: 60px;
    display: inline-block; 
}
.nav-item a{
    color: var(--dark);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.nav-item a:hover{
    color: var(--primary);
}
#menu a{
    color: var(--main);
    background-color: var(--dark);
    padding: 10px 50px;
    border-radius: 10px;
}
#menu a:hover{
    color: var(--main);
    background-color: var(--primary);
}
.home{
   padding: 100px 0;
   margin-top: 100px;
}
.home h1{
    font-size: 60px;
    color: var(--dark);
    margin-bottom: 20px;
}
.home p{
    font-size: 20px;
    color: var(--dark);
    margin-bottom: 10px;

}
.home_buttons a{
    display: inline-block;
    background-color: var(--primary);
    color: var(--main);
    padding: 10px 30px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
}
.home_buttons a:hover{
    background-color: var(--dark);
}
#locs {
    background-color:transparent;
    border-style: solid;
    border-color: var(--primary);
    border-width: 2px;
    color: var(--primary);
}
#locs:hover {
    background-color: var(--dark);
    color: var(--main);
}
.about{
    padding: 100px 200px;
    background-color: var(--darker);
    color: var(--main);
}
.first{
        overflow: hidden;
}
.first img{
    float: left;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 10px;
}
.first h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.first p{
    font-size: 18px;
    line-height: 1.5;
}
.second{
    margin-top: 100px;
    overflow: hidden;
}
.second img{
    float: right;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 10px;
}
.second h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.second p{
    font-size: 18px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5;
}
.linephoto{
    display: block;
    width: 100%;
    height: auto;
}
.locations{
    padding: 80px 200px 0 200px;
    background-color: var(--primary);
    color: var(--dark);
}

footer{
    padding: 20px 220px 25px 250px;
    background-color: var(--primary);
    color: var(--dark);
}

.locations h2{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.options{
  width: 100%;
  align-items: center;
}
.option{
    display: inline-block;
    height: auto;
    margin: 50px;
    padding: 20px;
}
.option span{
    font-weight: bold;
}
.option h3{
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--dark);
}
.footer_top{
    margin-bottom: 40px;
    overflow: hidden;
}

.footer_brand {
    float: left;
    width: 50%;
}

.footer_brand img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.footer_brand p {
    font-size: 20px;
    font-weight: bold;
}
.join {
    float: right;
    width: 50%;
}

.join label {
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 30px;
}

.box input {
    padding: 12px 15px;
    width: 250px;
    border: 2px solid var(--dark);
    border-radius: 10px;
    background: transparent;
    color: var(--dark);
}
.box input::placeholder {
    color: var(--dark);
}
.box button {
    padding: 12px 20px;
    background-color: var(--dark);
    color: var(--main);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.box button:hover {
    background-color: var(--primary);
}
.footer_bottom {
    border-top: var(--darker);
    border-width: 2px;
    overflow: hidden;
    margin-top: 25px;
}
.media {
    list-style-type: none;
    float: left;
}
.media li {
    display: inline-block;
    margin-right: 20px;
}
.media li a {
    text-decoration: none;
}
.copyright {
    float: right;
    font-size: 14px;
    margin-right: 60px;
}

